@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');
:root {
    --yellow: #f9ca24;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

*::selection {
    background: var(--yellow);
    color: aqua;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: black;
}

html::-webkit-scrollbar-thumb {
    background: yellow;
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: 0.7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 0.5rem;
    font-size: 2rem;
}

.btn i:hover {
    font-size: 3rem;
}

.btn:hover {
    background: var(--yellow);
    color: #fff;
    font-size: 3rem;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    padding: 1rem;
    font-size: 4.5rem;
    border-bottom: 0.1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .welcome img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--yellow);
}

header .welcome .name {
    font-size: 3.5rem;
    color: aliceblue;
}

header .welcome .role {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #eee;
    font-size: 2rem;
    border-radius: 80px;
}

header .navbar ul li a:hover {
    background: var(--yellow);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: white;
    color: #f9ca24;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


/*media queries*/


/*В моем портфолио должен быть хотя бы один медиа-запрос.*/

@media(max-width:1195px) {
    html {
        font-size: 53%;
    }
    .home {
        padding: 1rem 4rem;
    }
}

@media(max-width: 990px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 50%;
    }
    body {
        padding: 0;
    }
}

@media(max-width: 400px) {
    header {
        width: 100vw;
    }
    .heading {
        margin: 0 3rem;
    }
    .about .row .counter .box {
        width: 100%;
    }
    .edu .box-container .box {
        width: 100%;
    }
    .projects .box-container .box {
        width: 100%;
    }
    .contacts .row form {
        width: 100%;
    }
}

.welcome-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.welcome-section h3 {
    font-size: 2.5rem;
    color: #fff;
}

.welcome-section h1 {
    font-size: 5rem;
    color: #fff;
}

.welcome-section p {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.welcome-section h1 span {
    color: var(--yellow);
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .information {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .information h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .information h3 span {
    color: #eee;
    padding: 0 0.5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    background: #555;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    color: var(--yellow);
    font-size: 4rem;
}

.about .row .counter .box h3 {
    color: #eee;
    font-size: 2rem;
}

.edu .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.edu .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 0.2rem solid yellow;
    position: relative;
}

.edu .box-container .box span {
    font-size: 1.3rem;
    background: #222;
    color: #eee;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
}

.edu .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.edu .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
}

.edu .box-container .box i {
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #333;
    background: var(--yellow);
    position: absolute;
}

.portfolio .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .projects .project-tile {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .projects .project-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .projects .project-tile img:hover {
    transform: scale(1.2);
}

.contacts .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contacts .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contacts .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #eee;
    text-transform: none;
    font-size: 1.9rem;
    width: 100%;
}

.contacts .row form .box::placeholder {
    text-transform: capitalize;
}

.contacts .row form .message {
    height: 15rem;
    resize: none;
}

.contacts .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 4rem;
}

.contacts .row .content .info h3 {
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 2rem;
    padding: 3rem 1rem;
    font-weight: normal;
}

.contacts .row .content .info h3 i {
    padding-left: 1rem;
    margin-right: 1rem;
    color: var(--yellow);
}

.profile-link a {
    color: #fff;
}

.profile-link a:hover {
    transform: scale(1.2);
}

.info h3 a {
    color: #fff;
}

.info h3:hover {
    transform: scale(1.2);
}